@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 17px; /* Slightly larger base font */
}

body {
  font-family: "Avenir Next", "Avenir", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: #f4f5f8;
}
